@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
    ViewData["Title"] = "Roles Management";
}

@section breadcrumb {
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="link-primary" asp-area="" asp-controller="Home" asp-action="Dashboard">
                    <i class="bi bi-house-door"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-primary" asp-area=""
                    asp-controller="Roles"
                    asp-action="Index">
                    <span>Roles Management</span>
                </a>
            </li>
            <li class="breadcrumb-item">Create Role</li>
        </ol>
    </nav>
}

<section class="section">

    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title table-title">
                        Role list
                        <a style="" class="back" asp-action="Index">
                            <i class="bi bi-arrow-left-circle-fill"></i> Back
                        </a>
                    </h5>
                    @* <div class="itemContainer">
                        <div class="item">
                            <a asp-action="Index">
                                back
                            </a>
                        </div>
                        <div class="item">
                            <a asp-action="Index">
                                back
                            </a>
                        </div>
                    </div> *@
                    <form class="row g-3 p-2 needs-validation" method="post" novalidate>
                        <div class="col-md-12">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control"  required/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                       @*  <div class="col-md-6">
                            <label for="inputEmail5" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail5">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword5" class="form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword5">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress5" class="form-label">Address</label>
                            <input type="text" class="form-control" id="inputAddres5s" placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">State</label>
                            <select id="inputState" class="form-select">
                                <option selected="">Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="inputZip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label" for="gridCheck">
                                    Check me out
                                </label>
                            </div>
                        </div> *@
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            @* <button type="reset" class="btn btn-secondary">Reset</button> *@
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}