<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRM.UI</title>

    <link rel="manifest" href="~/manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Favicons -->
    <link href="~/NiceAdmin/Assets/img/favicon.png">
    <link href="~/NiceAdmin/Assets/img/apple-touch-icon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/NiceAdmin/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/Assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/NiceAdmin/Assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/NiceAdmin/Assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/NiceAdmin/Assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/NiceAdmin/Assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/NiceAdmin/Assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/NiceAdmin/Assets/css/style.css" rel="stylesheet">

    <!-- Custom CSS File -->

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/Select2/select2.min.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/datatables.net-bs5/dataTables.bootstrap5.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-sweetalert/sweetalert.min.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/font-awesome/css/solid.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/regular.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/brands.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.min.css" rel="stylesheet" asp-append-version="true" />


    @RenderSection("Header", required: false)
</head>
<body>
    <partial name="_HeaderPartial" />
    <partial name="_MainMenuPartial" />
    <main id="main" role="main" class="main">
        @* @{
            var isMobileBool = (bool)@Context.Items["isMobile"];
            string isMobile = "false";
            if (isMobileBool == true)
            {
                isMobile = "true";
            }
        } *@
        @RenderSection("breadcrumb", required: false)
        @RenderBody()
    </main>

    <partial name="_FooterPartial" />
    <!-- End Footer -->
    <!-- Modal popup Starts -->
    <div class="modal fade right" id="modalcontainer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!-- [ Pre-loader ] start -->
            <div class="load-bar-modal d-none">
                <div class="loader-bg" id="modal-loader">
                    <div class="loader-track">
                        <div class="loader-fill"></div>
                    </div>
                </div>
            </div>
            <!-- [ Pre-loader ] End -->
            <div class="modal-content" id="modal-content">
            </div>
        </div>
    </div>
    <!-- Modal popup Ends -->
    <!-- Modal read only popup Starts -->
    <div class="modal fade right" id="modalreadonlycontainer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!-- [ Pre-loader ] start -->
            <div class="loader-bg" id="modalreadonly-loader" style="display: none;">
                <div class="loader-track">
                    <div class="loader-fill"></div>
                </div>
            </div>
            <!-- [ Pre-loader ] End -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modaltitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="card bg-light border-0">
                        <div class="card-header app-h4 app-card-header">
                            <p id="modalheader"></p>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="modal-content">
                                        <!-- Modal content here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal read only popup Ends -->
    <!-- Modal iFrame popup Starts -->
    <div class="bg-light modal fade right " id="modaliframecontainer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!-- [ Pre-loader ] start -->
            <div class="loader-bg" id="modaliframe-loader" style="display: none;">
                <div class="loader-track">
                    <div class="loader-fill"></div>
                </div>
            </div>
            <!-- [ Pre-loader ] End -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modaltitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="card  ">
                        <div class="card-header">
                            <h5 id="modalheader"></h5>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- Modal content here -->
                                    <iframe id="modal-iframe" class="modal-iframe" frameborder="0" scrolling="no"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal iframe popup Ends -->
    <partial name="_ScriptsPartial" />
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
