<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRM.UI</title>
    <partial name="_StylesPartial" />
    @RenderSection("Header", required: false)
</head>
<body>
    <partial name="_HeaderPartial" />
    <partial name="_MainMenuPartial" />
    <main id="main" role="main" class="main">
        @RenderSection("breadcrumb", required: false)
        @RenderBody()
    </main>

    <partial name="_FooterPartial" />

    <partial name="_ScriptsPartial" />

     @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
